<html>
    <head>
        <meta charset="UTF-8">
        <!--引用百度CDN-->
        <script src="https://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
        <!--引用自定义controller-->
        <script src="../controller/databaseController.js"></script>
        <!--引用css样式(需要注意根目录引用路径)-->
        <link rel="stylesheet" type="text/css" href="../css/database.css">
        <title>搭建数据库框架</title>
    </head>

    <body ng-app="database" ng-controller="databaseController">
        <div class="button-row">
            <button class ="searchButton" ng-click="intiSearch()">搜索</button>
        </div>





    </body>
</html>





